
<div class='container'>
    <h1>{{problem.name}}</h1>
        <table>
            <thead scope='col'>
                <td>Solutions</td>
            </thead>
            <tbody>
                <tr class='bg-dark'>
                    {{#each solution}}
                        <td class='border'>
                            {{#if ../user.[0].admin}}
                            <pre>
                                <code class='text-white'>
                                {{this.data}}
                                </code>
                            </pre>
                            {{/if}}
                        </td>
                        {{#unless ../user.[0].admin}}
                            <td class='border'>
                                {{#if this.authorized}}
                                <pre>
                                    <code class='text-white'>
                                    {{this.data}}
                                    </code>
                                </pre>
                            {{/if}}
                            </td>
                        {{/unless}}
                    {{/each}}
                </tr>
                {{#if user.[0].admin}}
                <tr class='bg-primary'>
                    {{#each solution}}
                    <td>
                        <a href= '/favorite/{{this.id}}&&{{../user.[0].username}}' class='text-white'>Favorite?</a>
                    </td>
                    {{/each}}
                </tr>
                {{/if}}
                {{#unless user.[0].admin}}
                <tr>
                    {{#each solution}}
                        {{#if this.authorized}}
                        <a href= '/favorite/{{this.id}}&&{{../user.[0].username}}'>Favorite?</a>
                        {{/if}}
                    {{/each}}
                </tr>
                {{/unless}}
            </tbody>
        </table>
</div>