
<div class='container bg-secondary p-1 m-auto'>
    <h1 class='m-auto' style="width: 200px">{{problem.name}}</h1>
        <h2 class='text-white pl-2'>Solutions</h2>
        <form method='get'>
            {{#if problem.admin}}
                {{#each solution}}
                    <button type='submit' formaction='/solution/{{this.id}}' class='text-primary rounded-pill bg-dark'>{{this.solutionName}}<br>by{{this.username}}</button>
                {{/each}}
            {{/if}}
            {{#unless problem.admin}}
                {{#each solution}}
                    {{#if this.authorized}}
                        <button type='submit' formaction='/solution/{{this.id}}' class='text-primary rounded-pill bg-dark'>{{this.solutionName}}<br>by {{this.username}}</button>
                    {{/if}}
                {{/each}}
            {{/unless}}
        </form>             
</div>
{{#if user}}
        <form method="post">
        <input type="hidden" name='name' value={{problem.name}}>
        <button type='submit' formaction="/add" formmethod="POST" class='text-white rounded-pill bg-primary border border-white p-1'>Submit a Solution?</button>
    </form>
{{/if}}