
<div class='container bg-secondary p-1 m-auto'>
    <h1 class='m-auto' style="width: 200px">{{problem.name}}</h1>
        <h2 class='text-white pl-2'>Solutions</h2>
        <form method='get'>
            {{#if admin}}
                {{#each solution}}
                    <button type='submit' formaction='/solution/{{this.id}}' class='text-primary rounded-pill bg-dark'>{{this.solutionName}}<br>by{{this.username}}</button>
                {{/each}}
            {{/if}}
            {{#unless admin}}
                {{#each solution}}
                    {{#if this.authorized}}
                        <button type='submit' formaction='/solution/{{this.id}}' class='text-primary rounded-pill bg-dark'>{{this.solutionName}}<br>by {{this.username}}</button>
                    {{/if}}
                {{/each}}
            {{/unless}}
        </form>             
</div>